[Unit]
# Some description about the service
Description=My Pointless Service
# Only run the service after the network target has been reached
After=network.target

[Service]
# Where the executable service exists
ExecStart=/home/babak/pointless.sh
# In case of error restart the service
Restart=always
# User, group, and working directory for who runs this service
WorkingDirectory=/home/babak
User=babak
Group=babak
# Environment variables, separated with spaces
Environment=GOPATH=/home/babak/go USERNAME=babak_g

[Install]
# This will allow the service to be installed for the standard multi-user target
WantedBy=multi-user.target
