[UNIT]
Description=My Pointless Service # some description about the service
After=network.target # only run the service when network connection exists

[Service]
ExecStart = /home/babak/pointless.sh   # where executable service exists
Restart=always   # in case of error restart the service 
# user,group,home address for who runs this service
WorkingDirectory=/home/babak  
User=babak
Group=babak
Environment=GOPATH=/home/babak/go USERNAME=babak_g  # environment variables, separate them with space

[Install]
WantedBy=multi-user.target  # this will allow service to be installed for all users